#coin1 {
    filter: hue-rotate(220deg);
}

#coin1:hover {
    filter: hue-rotate(220deg) brightness(1.5);
}

#coin5 {
    filter: hue-rotate(100deg);
}

#coin5:hover {
    filter: hue-rotate(100deg) brightness(1.5);
}

#coin25:hover {
    filter: brightness(1.5);
}

#coin50 {
    filter: hue-rotate(70deg);
}

#coin50:hover {
    filter: hue-rotate(70deg) brightness(1.5);
}

#coin100 {
    filter: saturate(0);
}

#coin100:hover {
    filter: saturate(0) brightness(1.5); 
}

#coin500 {
    filter: hue-rotate(300deg);
}

#coin500:hover {
    filter: hue-rotate(300deg) brightness(1.5);
}
