#coin25 {
    filter: hue-rotate(100deg);
}

#coin25:hover {
    filter: hue-rotate(100deg) brightness(1.5);
}

#coin100 {
    filter: hue-rotate(220deg);
}

#coin100:hover {
    filter: hue-rotate(220deg) brightness(1.5);
}

#coin250 {
    filter: saturate(0);
}

#coin250:hover {
    filter: saturate(0) brightness(1.5); 
}

#coin500 {
    filter: hue-rotate(300deg);
}

#coin500:hover {
    filter: hue-rotate(300deg) brightness(1.5);
}
