* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: green;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.cardsMain {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

#playerLand {
    height: 300px;
    margin-top: 20px;

    transform: translateY(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#dealerLand {
    height: 300px;
    margin-bottom: 20px;
    
    transform: translateY(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* BUTTON */

.randomBtn {
    width: 200px;
    height: 50px;
    background-color: #000;
    border-radius: 10px;
    border: 0;
    color: #fff;
}

.randomBtn:hover {
    background-color: #1d1d1d;
}