* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: green;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.content {
    /* width: 100%; */
    height: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
}


/* CARD */

.card {
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(17, 17, 17, 0.3);
    background-image: url("../img/card_texture.avif");
    background-blend-mode:darken
}

.symbolMain {
    font-size: 130px;
}

.top {
    position: relative;
    right: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    position: relative;
    left: 105px;
    rotate: 180deg;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol {
    font-size: 50px;
}



/* BUTTON */

.randomBtn {
    width: 200px;
    height: 50px;
    background-color: #000;
    border-radius: 10px;
    border: 0;
    color: #fff;
}

.randomBtn:hover {
    background-color: #1d1d1d;
}



.randomBtnCard {
    width: 187px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 0 10px 5px rgba(17, 17, 17, 0.3);
    background-image: url("../img/back_side_card.jpg");
    background-position: center;
    background-size: 106%;
    background-blend-mode:darken;
    border: 0;
}

.randomBtnCard:hover {
    /* background-blend-mode:screen; */
    filter: brightness(1.1);
}

/* BUTTON */



.colorRed {
    color: #ff0000;
}

.colorBlack {
    color: #000;
}